h1 {
    font-size: 50px;
    text-align: center;
    color: #070707;
}
table,th, td {

    border: 2px solid black;
    border-collapse: collapse;
    border-radius:10px;
}
th { 
background-color: #ba0505;
color: #ffffff;
font-size: 20px;

}